<div class="d-flex flex-column flex-md-row justify-content-around bg-dark text-white pt-5 px-3 text-center text-md-left">
	<div class="col-3 d-none d-md-block">
		<h3>Plan du site</h3>
		<nav>
			<ul>
				<li><a class="nav-link" href="{{ path('homepage') }}#slider">Accueil</a></li>
				<li><a class="nav-link" href="{{ path('homepage') }}#metier">Notre métier</a></li>
				<li><a class="nav-link" href="{{ path('homepage') }}#services">Services</a></li>
				<li><a class="nav-link" href="{{ path('homepage') }}#mutuelles">Mutuelles</a></li>
				<li><a class="nav-link" href="{{ path('homepage') }}#marques">Nos marques</a></li>
				<li><a class="nav-link" href="{{ path('homepage') }}#contactSection">Contact</a></li>
				<li><a class="nav-link" href="{{ path('homepage') }}#map">Nous trouver</a></li>
			</ul>
		</nav>
	</div>
	<div id="reseaux" class="mb-5">
		<h3>Retrouvez nous sur :</h3>
		{% for media in medias.socialNetwork %}
			<a href="{{media.description}}" target="blanck"><img src="{{ vich_uploader_asset(media)|imagine_filter('socialNetwork') }}" class="img-fluid" alt="{{media.alt}}"></a>
		{% endfor %}
	</div>
	{% set item = content.contactFooter|first %}
	{% include '/home/contactFooter.html.twig' %}
</div>
