{% set slots = {
  '0': {
	'0' : {'text': 'entre\n 9h et 10h','status': 'disabled',},
	'1' : {'text': 'entre\n 10h et 12h','status': 'disabled',},
	'2' : {'text': 'entre\n 12h et 14h','status': 'disabled',},
	'3' : {'text': 'entre\n 14h et 16h', 'status': 'disabled',},
	'4' : {'text': 'entre\n 16h et 17h', 'status': 'disabled',},
	'5' : {'text': 'entre\n 17h et 18h', 'status': 'disabled',},
  },
  '1': {
	'0' : {'text': 'entre\n 9h et 10h','status': 'disabled',},
	'1' : {'text': 'entre\n 10h et 12h','status': 'disabled',},
	'2' : {'text': 'entre\n 14h et 16h','status': null,},
	'3' : {'text': 'entre\n 16h et 17h', 'status': null,},
	'4' : {'text': 'entre\n 17h et 18h', 'status': null,},
	'5' : {'text': 'entre\n 18h et 19h', 'status': null,},
  },
  '2': {
	'0' : {'text': 'entre\n 9h et 10h','status': null,},
	'1' : {'text': 'entre\n 10h et 12h','status': null,},
	'2' : {'text': 'entre\n 14h et 16h','status': null,},
	'3' : {'text': 'entre\n 16h et 17h', 'status': null,},
	'4' : {'text': 'entre\n 17h et 18h', 'status': null,},
	'5' : {'text': 'entre\n 18h et 19h', 'status': null,},
  },
  '3': {
	'0' : {'text': 'entre\n 9h et 10h','status': null,},
	'1' : {'text': 'entre\n 10h et 12h','status': null,},
	'2' : {'text': 'entre\n 14h et 16h','status': null,},
	'3' : {'text': 'entre\n 16h et 17h', 'status': null,},
	'4' : {'text': 'entre\n 17h et 18h', 'status': null,},
	'5' : {'text': 'entre\n 18h et 19h', 'status': null,},
  },
  '4': {
	'0' : {'text': 'entre\n 9h et 10h','status': null,},
	'1' : {'text': 'entre\n 10h et 12h','status': null,},
	'2' : {'text': 'entre\n 14h et 16h','status': null,},
	'3' : {'text': 'entre\n 16h et 17h', 'status': null,},
	'4' : {'text': 'entre\n 17h et 18h', 'status': null,},
	'5' : {'text': 'entre\n 18h et 19h', 'status': null,},
  },
  '5': {
	'0' : {'text': 'entre\n 9h et 10h','status': null,},
	'1' : {'text': 'entre\n 10h et 12h','status': null,},
	'2' : {'text': 'entre\n 14h et 16h','status': null,},
	'3' : {'text': 'entre\n 16h et 17h', 'status': null,},
	'4' : {'text': 'entre\n 17h et 18h', 'status': null,},
	'5' : {'text': 'entre\n 18h et 19h', 'status': null,},
  },
  '6': {
	'0' : {'text': 'entre\n 9h et 10h','status': null,},
	'1' : {'text': 'entre\n 10h et 12h','status': null,},
	'2' : {'text': 'entre\n 14h et 16h','status': null,},
	'3' : {'text': 'entre\n 16h et 17h', 'status': null,},
	'4' : {'text': 'entre\n 17h et 18h', 'status': null,},
	'5' : {'text': 'entre\n 18h et 19h', 'status': null,},
  },
}
%}

{% set closeddays = [] %}

{% for closingDay in closingDays %}
	{% set interval = date( date(closingDay.startDate) ).diff(date(closingDay.endDate)) %}
	{% for day in 0 .. interval.days %}
		{% set closeddays = closeddays|merge([closingDay.startDate|date_modify("+" ~ day ~ " days")|date('Y-m-d')]) %}
	{% endfor %}
{% endfor %}

{% set closeddays = closeddays|merge(publicHollydays) %}

{% for slotNum in 1..3 %}

	{% set daylist %}{% endset %}
	{% set slotlist %}{% endset %}
	{% set firstflag = false %}

	{%- for i in 2..8 -%}
		{%- set date = "now"|date_modify("+"~ i ~ " day")|date('Y-m-d') -%}

		{%- if (date|date("w") != 0) -%}
			{% set daylist %}
			{{ daylist }}

			{% set dayClass ="" %}
			{% if date in closeddays %}
				{% set dayClass ="bg-secondary disabled text-grey" %}
			{% endif %}
			{% if firstflag == false and (date not in closeddays)%}
				{% set dayClass ="active" %}
			{% endif %}

			<a class="list-group-item list-group-item-action p-2 {{dayClass}}" data-toggle="list" href="#slot-list-{{slotNum}}-{{i}}" data-list="day-{{slotNum}}" data-slot={{slotNum}} data-daynum={{date|date("w")}}>
				{{- date|format_date(pattern="EEEE d '\n' MMMM", locale='fr')| nl2br | capitalize | raw  -}}
			</a>
			{% endset %}

			{% set slotlist %}
			{{ slotlist }}
			<div class="tab-pane fade show {% if firstflag == false and (date not in closeddays) %}active{% set firstflag = true %}{% endif %}" id="slot-list-{{slotNum}}-{{i}}">
				<ul class="list-group text-center selector-list">
					{% set daynum = date|date('w') %}

					{%- for slot in slots[daynum] -%}
						{% set slotClass ="" %}
						{% if (date in closeddays ) or (slot.status == "disabled") %}
							{% set slotClass ="bg-secondary disabled" %}
						{% endif %}
						<li class="list-group-item list-group-item-action slot-item p-2 btn {{slotClass}}" data-list="hour-{{ slotNum }}" data-slot={{ slotNum }}>{{slot.text| nl2br | capitalize | raw}}</li>
					{%- endfor -%}

				</ul>
			</div>
			{% endset %}

		{%- endif -%}
	{%- endfor -%}

	{% if firstflag == false %}
		<div class="tab-pane fade show my-4 {% if slotNum == 1 %} active {% endif %}" id="slot{{slotNum}}" role="tabpanel" aria-labelledby="slot{{slotNum}}-tab">
			<p>Notre magasin ne dispose d'aucun créneau disponible pour les 10 jours à venir.</p>
			<p>Merci de réessayer ultérieurement ou de nous laisser un message en cliquant sur suivant.</p>
		</div>
	{% else %}
		<div class="tab-pane fade show {% if slotNum == 1 %} active {% endif %}" id="slot{{slotNum}}" role="tabpanel" aria-labelledby="slot{{slotNum}}-tab">
			<div class="d-flex">
				<div class="col-6 px-1 px-md-3">
					<div class="list-group text-center selector-list">
						{{ daylist }}
					</div>
				</div>
				<div class="col-6 px-1 px-md-3">
					<div class="tab-content">
						{{ slotlist }}
					</div>
				</div>
			</div>
		</div>
	{%- endif -%}
{% endfor %}
