{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700&family=Raleway:wght@300;400;700&family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
	<link href="/css/bootstrap.css" type="text/css" rel="stylesheet"/>
	<link href="/css/style.css" type="text/css" rel="stylesheet"/>
	<link href="/css/adminStyle.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %}Edition du contenu
{% endblock %}

{% block body %}

	<main data-spy="scroll" data-target="#navbar" data-offset="0">
		{% set coverbackground = "/img/interieur-grandvillars-optique.jpg" %}
		{% if coverMedia is not empty %}
			{% set coverbackground =  vich_uploader_asset(coverMedia|first) %}
		{% endif %}

		<div id="slider" class="vh-100 d-flex align-content-end flex-wrap" style="background-image:url('{{ coverbackground }}')">
			<div id='title' class="mb-5 position-relative">
				<h1>
					<span class="h1-1">Bienvenue chez</span>
					<span class="h1-2">Grandvillars</span>
					<span class="h1-3">Optique & Audition</span>
				</h1>
				<button class="btn btn-info btn-media-selector" type="button" data-mediacategory="cover">
					<span class="iconify" data-icon="mdi:picture"></span>
				</button>
				<a href="#contact" class="btn btn-dark p-2 mx-2">Nous contacter</a>
				<button class="btn btn-info p-2 mx-2 my-2" data-toggle="modal" data-target="#modalRdv">Prendre rendez-vous</button>
			</div>
		</div>
		<section id="quote" class="d-none d-md-block bg-secondary py-5">
			{% set item = quoteSectionContent|first %}
			{% include '/admin/content_editor/quoteSection.html.twig' %}
		</section>

		<section id="job" class="my-5">
			<div class="container">
				<h2 class="my-5 text-center">Notre métier</h2>
				<div class="row row-cols-2 row-cols-md-4 mt-5">
					{% for item in jobItem %}
						{% include '/admin/content_editor/jobItem.html.twig' %}
					{% endfor %}
				</div>
			</div>
		</section>

		<section id="horaires">
			<div class="card-group bg-secondary">
				<div class="card border-0 d-none d-xl-block">
					{% if time1Media is not empty %}
						<img src="{{ vich_uploader_asset(time1Media|first) }}" alt="{{time1Media|first.alt }}" width="100px" class="card-img-top time1Media">
					{% else %}
						<img src="/img/magasin5.jpg" class="card-img-top time1Media" alt="Intérieur grandvillars Optique">
					{% endif %}
					<button class="btn btn-info btn-media-selector" type="button" data-mediacategory="time1">
						<span class="iconify" data-icon="mdi:picture"></span>
					</button>
				</div>
				<div class="card border-0">
					{% if time2Media is not empty %}
						<img src="{{ vich_uploader_asset(time2Media|first) }}" alt="{{time2Media|first.alt }}" width="100px" class="card-img-top time2Media">
					{% else %}
						<img src="/img/magasin4.jpg" class="card-img-top time2Media" alt="Intérieur grandvillars Optique">
					{% endif %}
					<button class="btn btn-info btn-media-selector" type="button" data-mediacategory="time2">
						<span class="iconify" data-icon="mdi:picture"></span>
					</button>
				</div>
				<div class="card border-0 d-none d-xxl-block">
					{% if time3Media is not empty %}
						<img src="{{ vich_uploader_asset(time3Media|first) }}" alt="{{time3Media|first.alt }}" width="100px" class="card-img-top time3Media">
					{% else %}
						<img src="/img/magasin9.jpg" class="card-img-top time3Media" alt="Intérieur grandvillars Optique">
					{% endif %}
					<button class="btn btn-info btn-media-selector" type="button" data-mediacategory="time3">
						<span class="iconify" data-icon="mdi:picture"></span>
					</button>
				</div>
				<div class="card border-0 d-flex  align-self-center bg-transparent">
					<div class="mx-auto">
						<div class="text-center my-3">
							<i class="iconify" data-icon="mdi:clock-outline" data-inline="false" data-width="70px"></i>
						</div>
					</div>
				</div>
				<div class="card border-0 d-none d-lg-block">
					{% if time4Media is not empty %}
						<img src="{{ vich_uploader_asset(time4Media|first) }}" alt="{{time4Media|first.alt }}" width="100px" class="card-img-top time4Media">
					{% else %}
						<img src="/img/magasin7.jpg" class="card-img-top time4Media" alt="Intérieur grandvillars Optique">
					{% endif %}
					<button class="btn btn-info btn-media-selector" type="button" data-mediacategory="time4">
						<span class="iconify" data-icon="mdi:picture"></span>
					</button>
				</div>
			</div>
		</section>

		<section id="service">
			{% set item = serviceSection|first %}
			{% include '/admin/content_editor/serviceSection.html.twig' %}
			<div class="container">
				<div class="row row-cols-1 row-cols-xl-2">
					{% for item in serviceItem %}
						{% include '/admin/content_editor/serviceItem.html.twig' %}
					{% endfor %}
				</div>
			</div>
		</section>

		<section id="activisu">
			{% set item = activisuSectionContent|first %}
			{% include '/admin/content_editor/activisuSection.html.twig' %}
		</section>

		<section id="magasin" class="my-5">
			<div class="row  mx-0">
				<div id="carouselExampleIndicators" class=" col-6 px-5 d-none d-xl-block">
					<div class="carousel-inner">
						{% if carouselMedia is not empty %}
							<img src="{{ vich_uploader_asset(carouselMedia|first) }}" alt="{{carouselMedia|first.alt }}" class="d-block w-100 carouselMedia">
						{% else %}
							<img src="/img/magasin.jpg" class="d-block w-100" alt="...">
						{% endif %}
					</div>
					<button class="btn btn-info btn-media-selector" type="button" data-mediacategory="carousel">
						<span class="iconify" data-icon="mdi:picture"></span>
					</button>
				</div>

				<div class="col-12 col-xl-6 align-self-center pr-5">
					{% set item = shopSection|first %}
					<div id="content{{item.id}}">
						{% include '/admin/content_editor/shopSection.html.twig' %}
					</div>
					<div class="d-flex flex-wrap">
						{% for item in shopItem %}
							{% include '/admin/content_editor/shopItem.html.twig' %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>

		<section id="certifs" class="bg-secondary py-5">
			{% set item = certificationSection|first %}
			<div id="content{{item.id}}">
				{% include '/admin/content_editor/certificationSection.html.twig' %}
			</div>

			<div class="d-flex justify-content-center mt-5">
				<div class="col-5 col-sm-4 col-md-2 col-xl-1">
					{% if certif1Media is not empty %}
						<img src="{{ vich_uploader_asset(certif1Media|first) }}" alt="{{certif1Media|first.alt }}" width="100px" class="img-fluid certif1Media">
					{% else %}
						<img src="/img/opticien-engage-essilor-2020.png" class="img-fluid certif1Media" alt="essilor opticien engagé 2020">
					{% endif %}
					<button class="btn btn-info btn-media-selector" type="button" data-mediacategory="certif1">
						<span class="iconify" data-icon="mdi:picture"></span>
					</button>
				</div>
				<div class="d-none d-md-block col-md-6 text-center align-self-center">
					{% for item in certificationItem %}
						<div id="content{{item.id}}">
							{% include '/admin/content_editor/certificationItem.html.twig' %}
						</div>
					{% endfor %}
				</div>
				<div class="col-5 col-sm-4 col-md-2 col-xl-1">
					{% if certif2Media is not empty %}
						<img src="{{ vich_uploader_asset(certif2Media|first) }}" alt="{{certif2Media|first.alt }}" width="100px" class="img-fluid certif2Media">
					{% else %}
						<img src="/img/afnor-certification.png" class="img-fluid certif2Media" alt="Certifiaction Afnor qualité en optique">
					{% endif %}
					<button class="btn btn-info btn-media-selector" type="button" data-mediacategory="certif2">
						<span class="iconify" data-icon="mdi:picture"></span>
					</button>
				</div>
			</div>
		</section>
		<div class="modal fade" id="modalContentForm" tabindex="-1" role="dialog" aria-labelledby="modalForm{{item.id}}" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"></div>
		</div>

		<div class="modal fade" id="modalMediaSelector" tabindex="-1" role="dialog" aria-labelledby="modalForm{{item.id}}" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"></div>
		</div>

		{% include '/admin/content_editor/modalIconSelector.html.twig' %}
	</main>
{% endblock %}
