<div class="modal fade" id="modalContentForm" tabindex="-1" role="dialog" aria-labelledby="modalForm{{entity.id}}" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Editer le contenu</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				{{form_start(form, {'attr':{'data-id': entity.id, 'data-target' : 'content' ~ entity.id }})}}
				{% if form.icon is defined %}
					<div class="form-group">
						{{ form_label(form.icon) }}
						<p  id='selected-icon' ><span class="iconify" data-inline="false" data-width="50px" data-icon="{{entity.icon}}"></span></p>
						{{ form_widget(form.icon) }}
						<button class="btn btn-darker my-2" type="button" data-toggle="modal" data-target="#modalIconSelector" aria-expanded="false" aria-controls="modalIconSelector">Icones</button>
						<small>Pous plus de choix d'icônes :
							<a class="text-primary" href="https://iconify.design/icon-sets/" target="blank">iconify</a>
						</small>
					</div>
				{% endif %}
				{{form_widget(form)}}
				<button type="submit" data-toggle="modal" class="btn btn-success">Modifier</button>
				<button class="btn btn-darker" type="button" data-toggle="modal" data-target="#modalContentForm" aria-expanded="false" aria-controls="collapseExample">Annuler</button>
				{{form_end(form)}}
			</div>
		</div>
	</div>
</div>
