<div class="container position-relative">
	<div class="media">
		{% if quoteMedia is defined %}
			<img src="{{ vich_uploader_asset(quoteMedia|first) }}" alt="{{quoteMedia|first.alt }}" width="100px" class="rounded-circle align-self-center mr-3">
		{% else %}
			<img src="/img/cedric.jpg" alt="Cedric Hinterlang" width="100px" class="rounded-circle align-self-center mr-3">
		{% endif %}
		<div class="media-body">
			{{item.content|raw}}
			<small>{{item.title}}</small>
			<button class="btn btn-primary btn-edit" type="button" data-id="{{item.id}}">
				<span class="iconify" data-icon="clarity:edit-solid"></span>
			</button>
		</div>
	</div>
</div>
