<div class="container my-5 position-relative">
	<h2>{{serviceSectionContent.title}}</h2>
	<p>{{serviceSectionContent.content}}</p>
	<button class="btn btn-primary btn-edit" type="button" data-toggle="modal" data-target="#modalserviceContentForm">
		<span class="iconify" data-icon="clarity:edit-solid" data-inline="false"></span>
	</button>
</div>


<div class="modal fade" id="modalserviceContentForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Editer le contenu</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{{form_start(serviceSectionForm, {'action': path('admin_content_update', {'id' : serviceSectionContent.id}), 'method': 'POST', 'attr':{'data-id': serviceSectionContent.id, 'data-section' : 'service'}})}}
				{{form_widget(serviceSectionForm)}}
				<button type="submit" data-toggle="modal" data-target="#modalserviceContentForm" aria-expanded="false" aria-controls="collapseExample" class="btn btn-success">Modifier</button>
				<button class="btn btn-darker" type="button" data-toggle="modal" data-target="#modalserviceContentForm" aria-expanded="false" aria-controls="collapseExample">Annuler</button>
				{{form_end(serviceSectionForm)}}
			</div>
		</div>
	</div>
</div>
