<div class="container my-5 position-relative">
	<h2>{{serviceSectionContent.title}}</h2>
	<p>{{serviceSectionContent.content}}</p>
	<button class="btn btn-primary btn-edit" type="button" data-toggle="modal" data-target="#modalserviceContentForm">
		<span class="iconify" data-icon="clarity:edit-solid" data-inline="false"></span>
	</button>
	<div class="row row-cols-1 row-cols-xl-2">
		<div class="col mb-4">
			<div class="card h-100 border-primary">
				<div class="card-body media">
					<i class="iconify align-self-center mr-3 text-primary d-none d-sm-block" data-icon="whh:gears" data-inline="false" data-width="50"></i>
					<div class="media-body">
						<h3>Verres ophtalmiques</h3>
						<hr class="bg-primary">
						<p>Nous disposons d'une gamme de verre ophtalmiques apportant une réponse aux pathologies simples comme complexes</p>
						<ul>
							<li>unifocaux, double foyers</li>
							<li>progressifs</li>
							<li>traitements des verres : anti buée, anti reflet, photochromique, ...</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card h-100 border-grey">
				<div class="card-body media">
					<i class="iconify align-self-center mr-3 text-grey  d-none d-sm-block" data-icon="mdi:ear-hearing" data-inline="false" data-width="50"></i>
					<div class="media-body">
						<h3>Prothèses audio</h3>
						<hr class="bg-grey">
						<p>Grandvillars Optique dispose d'un audioprothésiste Diplômé d'Etat dans son équipé pour réaliser votre équipement auditif :
						</p>
						<ul>
							<li>Conception</li>
							<li>Réalisation</li>
							<li>Positionnement</li>
							<li>Réglages</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card h-100 border-info">
				<div class="card-body media">
					<i class="iconify align-self-center mr-3 text-info  d-none d-sm-block" data-icon="mdi:wrench" data-inline="false" data-width="50"></i>
					<div class="media-body">
						<h3>Atelier</h3>
						<hr class="bg-info">
						<p>Notre équipe dispose des compétences et outils pour la création ou la réparation de vos lunettes et équipements auditifs</p>
						<ul>
							<li>Réparation</li>
							<li>montage</li>
							<li>Réglage</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card h-100 border-dark">
				<div class="card-body media">
					<i class="iconify align-self-center mr-3 text-dark  d-none d-sm-block" data-icon="mdi-ballot" data-inline="false" data-width="50"></i>
					<div class="media-body">
						<h3>Dépistages</h3>
						<hr class="bg-dark">
						<p>Notre magasin dispose de tout l'équiment nécessaire pour effectuer les dépistages et évaluer votre besoin en équipement visuel ou auditif</p>
						<div class="row">
							<div class="col-12 col-md-6">
								<ul>
									<li>Bilans visuels</li>
									<li>Mesures d'accuité</li>
									<li>Depistage gratuit</li>
								</ul>
							</div>
							<div class="col-12 col-md-6">
								<button class="btn btn-primary p-3 mx-2 float-md-right" data-toggle="modal" data-target="#modalRdv">Prendre rendez-vous</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modalserviceContentForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Editer le contenu</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{{form_start(serviceSectionForm, {'action': path('admin_content_update', {'id' : serviceSectionContent.id}), 'method': 'POST', 'attr':{'data-id': serviceSectionContent.id, 'data-section' : 'service'}})}}
				{{form_widget(serviceSectionForm)}}
				<button type="submit" data-toggle="modal" data-target="#modalserviceContentForm" aria-expanded="false" aria-controls="collapseExample" class="btn btn-success">Modifier</button>
				<button class="btn btn-darker" type="button" data-toggle="modal" data-target="#modalserviceContentForm" aria-expanded="false" aria-controls="collapseExample">Annuler</button>
				{{form_end(serviceSectionForm)}}
			</div>
		</div>
	</div>
</div>
