{% extends 'emails/base.html.twig' %}

{% block content %}
<div class="content">
	<h2>Nouveau message depuis le formulaire</h2>
	<h3>Sujet :
		{{contact.subject}}</h3>
	<p>Non :
		{{contact.LastName}}</p>
	<p>Email de contact :
		<a href="mailto:{{contact.email}}">{{contact.email}}</a>
	</p>
	<p>Message :
	</p>
	<p class="messageContainer">{{contact.message}}</p>
	<div style="text-align : center">
		<div class="replyBtn">
			<a href="mailto:{{contact.email}}">Répondre</a>
		</div>
	</div>
</div>
{% endblock %}