<h1>Nouvelle demande de rendez-vous depuis le formulaire</h1>
<p>Motif :
	{{contact.subject}}</p>
<p>Non :
	{{contact.Name}}</p>
<p>Email de contact :
	{{contact.email}}</p>
<p>Disponibiliés :</p>
<p>{{contact.slot1}}<br>
	{{contact.slot2}}<br>
	{{contact.slot3}}</p>
<p>Message :
</p>
<p>{{contact.message}}</p>
