{% extends 'emails/base.html.twig' %}

{% block content %}
	<div class="content">

		{% if copy == 1 %}
			<h2>Votre demande est envoyée</h2>
			<p>Bonjour,</p>
			<p>Merci d'avoir utilisé notre formulaire de prise de rendez-vous, votre demande à été transmise à notre magasin. Nous la prendons en charge très prochainement.</p>
			<p>
				<b>Important : votre demande doit être confirmée pas nos soins.</b><br>
				Vous recevrez prochainement un e-mail qui vous indiquera si votre demande est confirmée ainsi que l'heure exacte du rendez-vous parmis les céneaux de disponibilité que vous avez indiqué.</p>
			<p>Vous trouverez ci-après un copie de votre demande :</p>
		{% else %}
			<h2>Nouvelle demande de rendez-vous depuis le formulaire</h2>
		{% endif %}


		<h3>Motif :
			{{contact.subject}}</h3>
		<p>Non :
			{{contact.name}}</p>
		<p>Email de contact :
			<a href="mailto:{{contact.email}}">{{contact.email}}</a>
		</p>
		<p>Disponibilités :</p>
		{% if contact.slot1 is not empty %}
			<p class="messageContainer">{{contact.slot1}}</p>
		{% endif %}
		{% if contact.slot2 is not empty  %}
			<p class="messageContainer">{{contact.slot2}}</p>
		{% endif %}
		{% if contact.slot3 is not empty %}
			<p class="messageContainer">{{contact.slot3}}</p>
		{% endif %}
		<p>Message :
		</p>
		<p class="messageContainer">{{contact.message}}</p>
		{% if copy != 1 %}
			<div style="text-align : center">
				<div class="replyBtn">
					<a href="mailto:{{contact.email}}">Répondre</a>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
