{% extends 'admin/base.html.twig' %}

{% block title %}Editer une média
{% endblock %}

{% block body %}
	<main>
		<h1 class="mt-5 pt-5 text-center">Editer un média</h1>
		<section>
			<div class="container">
				{% for media in medias %}
					{% set selectClass = " " %}
					{% if mediaCategory.medias|first == media.id %}
						{% set selectClass = "border border-success" %}
					{% endif %}
					<img class="text-center mediaSingleSelector {{selectClass}}" src="{{ vich_uploader_asset(media) }}" alt="{{ media.alt }}" data-media_id="{{ media.id }}" class="img-fluid" alt="Responsive image">
				{% endfor %}

				{{form_start(form)}}
				{{form_widget(form)}}
				<button type="submit" class="btn btn-success">Confirmer</button>
				{{form_end(form)}}
			</div>
		</section>
	</main>
{% endblock %}
