{% extends 'admin/base.html.twig' %}

{% block title %}Panneau d'administration
{% endblock %}

{% block body %}
	<main data-spy="scroll" data-target="#navbar" data-offset="0">
		<h1 class="mt-5 pt-5 text-center">Panneau d'administration</h1>
		<section>
			<div class="container my-5">
				<h2 class="text-primary">Jours de fermeture exceptionnelle :</h2>
				<div class="row row-cols-1 row-cols-md-5 mt-3">
					<div class="col">
						<div class="card h-100" data-toggle="modal" data-target="#modalClosingDays">
							<div class="card-body text-center d-flex text-center">
								<h3 class="h1 align-self-center mx-auto">
									<span class="iconify" data-icon="bx:bx-calendar-plus" data-inline="false" data-width="80" data-height="80"></span>
								</h3>
							</div>
							<div class="card-footer text-center bg-primary text-white">
								Ajouter
							</div>
						</div>
					</div>

					{% for closingDay in closingDays |slice(0, 3) %}
						{% set startMonth = closingDay.startDate|format_date(pattern="MMM", locale='fr') %}
						{% set startDay = closingDay.startDate|format_date(pattern="EEEE", locale='fr') %}
						{% set startDayNum = closingDay.startDate|date("d") %}
						{% set endMonth = closingDay.endDate|format_date(pattern="MMM", locale='fr') %}
						{% set endDayNum = closingDay.endDate|date("d") %}
						<div class="col">
							<div class="card h-100">

								{% if closingDay.startDate == closingDay.endDate %}
									<h5 class="card-title bg-info p-3 text-center">{{startDay}}</h5>
									<div class="card-body text-center">
										<h3 class="h1">{{startDayNum}}</h3>
										<p class="card-text h3">{{startMonth}}</p>
									</div>
									<a class="showConfirm" data-link="{{path('admin_closingday_delete', {'id' : closingDay.id})}}" data-message="Le <strong>{{closingDay.startDate|format_date(pattern=' d MMMM YYYY', locale='fr')}}</strong> sera supprimé de la liste des jours de fermeture">
										<div class="card-footer text-center">
											Supprimer
										</div>
									</a>
								{% else %}
									<h5 class="card-title bg-info p-3 text-center">Congés</h5>
									<div class="card-body text-center d-flex align-items-center">
										<div class="mx-auto">
											<h3 class="h3">{{~ startDayNum ~ " " ~ startMonth}}</h3>
											<hr>
											<h3 class="h3">{{~ endDayNum ~ " " ~ endMonth}}</h3>
										</div>
									</div>
									<a class="showConfirm" data-link="{{path('admin_closingday_delete', {'id' : closingDay.id})}}" data-message="Le congé du <strong>{{closingDay.startDate|format_date(pattern=' d MMMM YYYY', locale='fr')}}</strong> au <strong>{{closingDay.endDate|format_date(pattern=' d MMMM YYYY', locale='fr')}}</strong> sera supprimé de la liste des jours de fermeture">
										<div class="card-footer text-center">
											Supprimer
										</div>
									</a>
								{% endif %}
							</div>
						</div>
					{% endfor %}

					<div class="col-sm-3">
						<div class="card h-100" data-toggle="modal" data-target="#modalCalendar">
							<div class="card-body text-center d-flex text-center">
								<h3 class="h3 align-self-center mx-auto">
									<span class="iconify" data-icon="clarity:calendar-line" data-inline="false" data-width="80" data-height="80"></span>
								</h3>
							</div>
							<div class="card-footer text-center card-footer text-center bg-primary text-white">
								Voir plus
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-12 mt-4">
						<div class="card bg-info text-center">
							<h3 class="h4 p-2">Fermetures régulières</h3>
						</div>
					</div>

					{% for recurentClosingDay in recurentClosingDays|sort %}
						<div class="col-4 mt-2">
							<div class="card">
								{% if recurentClosingDay.startDate == recurentClosingDay.endDate %}
									<div class="card-body h2 text-center">
										{{~ recurentClosingDay.startDate|format_date(pattern="d \n MMMM", locale='fr')| nl2br|raw}}
									</div>
								{% else %}
									<div class="card-body h2 text-center">
										Du {{ recurentClosingDay.startDate|format_date(pattern="d MMM", locale='fr') }}<br>
										au {{ recurentClosingDay.endDate|format_date(pattern="d MMM", locale='fr') }}
									</div>
								{% endif %}
							</div>
						</div>
					{% endfor %}

				</div>
			</div>


		</section>
		{% include 'admin/partials/modalClosingDays.html.twig' %}

		{% include 'admin/partials/modalCalendar.html.twig' %}

		<section class="mt-5">
			<div class="container mt-5 text-primary">
				<h2>Horaires</h2>
				<table class="table">
					<thead>
						<tr class="bg-info">
							<th scope="col"></th>
							<th scope="col">Lundi</th>
							<th scope="col">Mardi</th>
							<th scope="col">Mercredi</th>
							<th scope="col">Jeudi</th>
							<th scope="col">Vendredi</th>
							<th scope="col">Samedi</th>
							<th scope="col">Dimanche</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Matin</th>
							<td>Fermé</td>
							<td>9h-12</td>
							<td>9h-12</td>
							<td>9h-12</td>
							<td>9h-12</td>
							<td>9h-12</td>
							<td>Fermé</td>
						</tr>
						<tr>
							<th scope="row">Après-midi</th>
							<td>14h-19</td>
							<td>14h-19</td>
							<td>14h-19</td>
							<td>14h-19</td>
							<td>14h-19</td>
							<td>Fermé</td>
							<td>Fermé</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<section>
			<div class="container mt-5 text-primary">
				<h2>Gestion des images</h2>
			</div>
		</section>
		{% include 'admin/partials/modalConfirm.html.twig' %}</main>
{% endblock %}
